/* Font importing */

@font-face {
    font-family: TTNooksBold;
    src: url(/fonts/TT\ Nooks\ Bold.otf);
  }  

@font-face {
    font-family: Mentone;
    src: url(/fonts/Mentone-Regular.ttf);
  }  

/* Set the root font size */

html {
  font-size: 16px;
}

h1 {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
    size: 4rem;
}

h2 {
  font-family: 'TTNooksBold', 'Times New Roman', serif;
  font-weight: bold;
  size: 2rem;
}

p {
  font-family: 'Mentone', 'Helvetica Neue', sans-serif;
  size: 1rem;
}