@font-face {
    font-family: TTNooksBold;
    src: url(/fonts/TT\ Nooks\ Bold.otf);
  }  

@font-face {
    font-family: Mentone;
    src: url(/fonts/Mentone-Regular.ttf);
  }  

h1 {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
}
p {
    font-family: 'Mentone', 'Helvetica Neue', sans-serif;
}