/* Font importing */

@font-face {
    font-family: TTNooksBold;
    src: url(/fonts/TT\ Nooks\ Bold.otf);
  }  

@font-face {
    font-family: Mentone;
    src: url(/fonts/Mentone-Regular.ttf);
  }  

/* Set the root font size */

html {
    font-size: 16px;
}

h1 {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 4rem;
}

h2 {
  font-family: 'TTNooksBold', 'Times New Roman', serif;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 20px;
}

p {
  font-family: 'Mentone', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
}

h2 {
  color: var(--white);
}

h4 {
  text-transform: uppercase;
  font-weight: 600;
}

.product-info > p {
  color: var(--color-tertiary);
}