/* General */

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Home layout */

.homegrid {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
}

.dinein {
    grid-column: 2;
}

.takeaway {
    grid-column: 3;
}

/* Button layout */

.button {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-width: 0px 0px 2px 2px;
    border-color: var(--color-secondary);
}

/* Image layout */

.hero-logo {
    width: 10vw;
}