/* General */

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Home layout */

.homegrid {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: var(--white);
    justify-items: center;
    height: 100vh
}

.dinein {
    grid-column: 2;
    grid-row: 3;
}

.takeaway {
    grid-column: 4;
    grid-row: 3;
}

/* Button layout */

.button {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;
    height: 64px;
    width: 200px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-width: 0px 0px 2px 2px;
    border-color: var(--color-secondary);
}

.button--takeaway {
    grid-row: 4;
    grid-column: 4;
}

.button--dinein {
    grid-row: 4;
    grid-column: 2;
}

/* Image layout */

.hero-logo {
    grid-column: 3;
    grid-row: 2;
    width: 400px;
}

.backdrop-image {
    width: 50%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    filter: brightness(50%);
}

.backdrop-image--takeaway {
    right: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-links {
    display: flex;
    gap: 20px;
}

.right-links {
    display: flex;
    gap: 20px;
}