/* General */

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Home layout */

.content {
    position: relative;
}

.homegrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    color: var(--white);
}

.dinein {
    grid-column: 2;
}

.takeaway {
    grid-column: 4;
}

/* Button layout */

.button {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-width: 0px 0px 2px 2px;
    border-color: var(--color-secondary);
}

/* Image layout */

.hero-logo {
    width: 10vw;
}

.backdrop-image {
    width: 50%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    filter: brightness(50%);
}

.backdrop-image--takeaway {
    right: 0;
}