@import url(reset.css);
@import url(fonts.css);

.button {
    font-family: 'TTNooksBold', 'Times New Roman', serif;
    font-weight: bold;
    color: #E6C67D;
    background-color: #262F40;
    border-width: 0px 0px 2px 2px;
    border-color: #E6C67D;
}